


.header {
    display: flex;
    /* justify-content: space-between; */
    gap: 45px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 100px;
    height: 80px;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar i {
    margin-right: 8px;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.user-options ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user-options li {
    margin-left: 20px;
}

.user-options a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    display: block;

}

.user-options i {
    margin-right: 5px;
}

.user-options li a:hover {
    color: #ff5722; 
}
